/*----------------------------------------------------------------------------- 
RIT SIS Extension Stylesheet 

name: sis_main.css
description: The "default" css file to include on all pages of the site

version:   1.0 
date:      04/13/12 
author:    Thomas DeMeo
email:     thomasdemeo@gmail.com
-----------------------------------------------------------------------------*/

/*$ritOrange-color: #F36E21; */
/*$ritBrown-color: #513127;  */
/*$bgColor-color: #F8F7ED;   */
/*$boxBGColor-color: #CBCAAC;*/


.PSPAGE, .PSPAGECONTAINER {
	margin: 0 auto;
	background-color: #F8F7ED;
}

/** Style the tweets */

.twitters {
  border: 1px solid #007FA5;
  padding: 5px;
/*   overflow: auto; */
  margin: 20px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: black 1px 2px 3px;
  -moz-box-shadow: black 1px 2px 3px;
}

.twitters ul {
  list-style: none;
  padding: 0;
/*   white-space: nowrap; */
}

.twitters ul li {
	padding: 5px;
}

.twitters span.prefix {
  font-weight: bold;
}

.twitters span.time {
  font-style: italic;
  color: #c5c5c5;
}

.twitters span.status {
  font-style: italic;
}

#tweets {
	position: absolute;
	top: 0;
	right: 10px;
	width: 300px;
	background-color: #00A0D1;
}

ul#twitter_choices {
	margin: 0 auto;
}

.twitter_titles {
	color: white;
	background-color: #513127;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 2px;
	border: 1px solid black;
	cursor: pointer;
	margin: 4px;
}

.selected {
	background-color: #FBEC5D;
}

.selected_orange {
	background-color: #F36E21;
}

#suggestions {
	list-style-type: none;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
/* 	width: 250px; */
	background-color: #FFFFFF;
	position: absolute;
	padding: 5px;
	visibility: hidden;
	border: 1px solid #000000;
	margin: 0;
}

.suggestion_option {
	font-size: 14px;
/* 	border: 1px solid gray; */
	font-family: Arial, Palatino, Georgia;
	font-weight: bold;
	cursor: pointer;
	padding: 2px 2px 2px 2px;
	
}

.suggestion_option:hover,
.SSSFOOTERLINKBOLD {
	color: #F36E21;
}

.course_number {
	color: gray;
	font-style: italic;
	font-size: 14px;
	font-family: Palatino, Georgia, Arial;
	font-weight: normal;
/* 	opacity: 0.8; */
}

.PSEDITBOX_DISPONLY {
	padding-left: 5px;
}

#CLASS_SRCH_WRK2_SUBJECT$70$ {
	width: 150px;
}

#header_bar{
    background-color: #F36E21;
    height: 65px;
}

#enhanced_header{
    margin: 0 auto;
    /* width: 960px; */
}

#left_header{
    float: left;
}

#right_header{
    float: right;
    margin-top: 40px;
}

.right_header_text{
    color: #FFFFFF;
    padding-right: 5px;
    font-size: 14px;
}

#center_footer{
    margin: 0 auto;
    width: 275px;
    color: gray;
    font-size: 0.75em;
}

#RIT_URL{
    color: #F36E21;
    font-size: 1.0em;
    text-decoration: none;
}
#CLASS_SRCH_WRK2_UNITS_MINIMUM_LBL, #CLASS_SRCH_WRK2_UNITS_MAXIMUM_LBL,#SSSIMAGECENTER{
    cursor: help;
}
/* Box Header and Text styling*/
.SSSGROUPBOXRIGHTLABEL,
.PSLEVEL3GRIDLABEL,
.PSLEVEL2GRIDLABEL,
.PSGRIDTABBACKGROUND{
    background-color: #513127;
    color: #FFFFFF;
}

.SSSGROUPBOXLEFTLABEL,
.PSGROUPBOXLABEL,
.PAGROUPBOXLABELLEVEL1,
.PSLEVEL1GRIDLABEL{
    background-color: #F36E21;
}

.SSSGROUPBOXLEFTNBO{
    border: 1px solid #000000;
}

.SSSGROUPBOXRIGHTWBO,
.PSGROUPBOXWBO,
.PSLEVEL3GRIDCOLUMNHDR,
.PAFRAMELEVEL1WBO,
.PAGROUPDIVIDER,
.SSSGROUPBOXLTBLUE,
#ACE_DERIVED_SSS_SCL_LS_PORT_HOLDS_LINK,
#ACE_DERIVED_SSS_SCL_LS_PORT_TODO_LINK,
#ACE_DERIVED_SSS_SCL_SS_ENRL_APP_LINK,
#ACE_DERIVED_SSS_SCL_SS_ADVISOR_LINK,
#ACE_DERIVED_SSS_SCL_SSS_SC_LNK1_NAME,
#ACE_DERIVED_SSS_SCL_SSS_SC_LNK2_NAME,
#ACE_DERIVED_SSS_SCL_SSS_SC_LNK3_NAME,
#ACE_DERIVED_SSS_SCL_SSS_GO_4 {
    background-color: #DFDECB;
}

.SSSGROUPBOXLEFTNBO,
.SSSGROUPBOXRIGHTWBO,
.PSGROUPBOXWBO {
    box-shadow: black 1px 2px 3px;
    -moz-box-shadow: black 1px 2px 3px;

}

#ACE_DERIVED_SSS_ENR_GROUP_BOX {
	background-color: #F8F7ED;
}

.PSLONGEDITLABEL, 
.PATRANSACTIONTITLE,
.PABOLDTEXT,
.PALEVEL0PRIMARY,
.PAPAGETITLE,
.PSEDITBOXLABEL,
.PSDROPDOWNLABEL,
.SSSMSGINFOTEXT{
    color: #513127;
    border-color: #000000;
}

.PSLEVEL1GRIDCOLUMNHDR,
.PSLEVEL1GRIDCOLUMNHDRTXT,
.PSLEVEL3GRIDCOLUMNHDR:link,
.PSLEVEL3GRIDCOLUMNHDR:active,
.PSLEVEL3GRIDCOLUMNHDR:visited,
.PSLEVEL1GRIDCOLUMNHDR:link,
.PSLEVEL1GRIDCOLUMNHDR:active,
.PSLEVEL1GRIDCOLUMNHDR:visited {
    background-color: #DFDECB;
    color: #545446;
    border-top-style: none;
 	border-bottom-style: none;
 	border-right-style: none;
}

/*Search For classes Colors and Styles*/

#PAGECONTAINER,
#DERIVED_CLSRCH_SSR_CLAS_LBL_LBL{
    margin: 0 auto;
    background-color: #F8F7ED;
    width = 600px;
}

.SSSMSGSUCCESSFRAME,
.SSSMSGSUCCESSFRAMEWBO {
       background-color: #513127;
       border-color: #513127;
}

.SSSHYPERLINKBOLD,
.SSSHYPERLINKBOLD:hover {
       color: #FFFFFF;
       padding: 2px 2px 2px 2px;

.PSLEVEL1GRID,
.PSLEVEL1GRIDWBO,
.PSLEVEL1GRIDCOLUMNHDR {
    background-color: #DFDECB;
    color: #545446;
 	border-top-style: none;
 	border-bottom-style: none;
 	border-right-style: none;
    padding: 0px;
}

.PAGROUPDIVIDER, .SSSGROUPBOXLTBLUE {
    border: 1px solid #000000;
}


